{% extends 'dashboard/base.html' %}
{% load static %}


{% block body %}
<div class="col-md-8 col-sm-5 col-xs-5">
<div id="content" class="p-6 p-md-5 pt-5">
    <div class="col-md-12 col-sm-12 col-xs-10">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table text-primary"></i>
                    Fill In Information Of Books
                </div>
                <div class="card-body">
               <form action="{% url 'aabook' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
        <div class="form-group">
                <div class="col">
                    <p> BOOK TITLE</p>
                    <input type="text" class="form-control" name="title" placeholder="Book Title" required="required"></div>
        </div>
        <div class="form-group">
            
                <div class="col">
                    <P> AUTHOR OF THE BOOK</P>
                    <input type="text" class="form-control" name="author" placeholder="Author" required="required"></div>                 
        </div>

         <div class="form-group">

                <div class="col">
                    <P>
                        PUBLISHER OF THE BOOK
                    </P><input type="text" class="form-control" name="publisher" placeholder="Publisher" required="required"></div>
        </div>

        <div class="form-group">
                <div class="col">
                    <P> PUBLICATION OF THE YEAR </P>
                <select name="year" id="year">
                    <option value="2009">2009</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2010">2010</option>
                  </select>
                </div>
        </div>

      <div class="form-group">
                <div class="col">
                
                <p> GENRE OF THE BOOK IS BASED ON</p>
                <input type="checkbox" id="desc" name="desc" value="Horror">
                    <label for="vehicle"> Horror genre</label><br>
                <input type="checkbox" id="desc" name="desc" value="Fiction">
                    <label for="vehicle"> Fiction genre</label><br>
                <input type="checkbox" id="desc" name="desc" value="Education">
                    <label for="vehicle"> Education Genre</label><br>
                </div>
        </div>

        <div class="form-group">
            <div class="col">
            
            <p> DO YOU RECOMMED THIS BOOK? </p>
            <input type="radio" id="recommend" name="value" value="recommend">
                <label for="recommend">I recommend this Book</label><br>
            <input type="radio" id="notrecommend" name="value" value="notrecommend">
                <label for="notrecommend">I dont recommend this Book</label><br>
            <input type="radio" id="other" name="value" value="other">
                <label for="other">Other</label><br>
    </div>


        <div class="form-group">
                <div class="col"><label>Choose Book Cover</label>
                    <input type="file" id="myFile" name="cover" placeholder="Report Attachment" enctype="multipart/form-data"></div>
        </div>

        <div class="form-group">
                <div class="col"><label>Choose PDF Book</label>
                    <input type="file" id="myFile" name="pdf" placeholder="Report Attachment" enctype="multipart/form-data"></div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block" href="">Add Now</button>
        </div>
    </form>

        </div>
    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}